<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.football">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".util.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".launchandguide.LaunchAndGuideActivity"
            android:label="Football"
            android:theme="@style/LaunchAndGuideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".main.whatshot.detail.TrendingDetailActivity"
            android:label=""
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <!-- 评论列表界面 -->
        <activity
            android:theme="@style/DefaultTheme"
            android:name="com.sohu.cyan.android.sdk.activity.CyanCommentActivity"/>
        <!-- 发表评论页面 -->
        <activity
            android:theme="@style/DefaultTheme"
            android:name="com.sohu.cyan.android.sdk.activity.CyanPostCommentActivity"/>
        <!-- 第三方登录认证 -->
        <activity
            android:theme="@style/DefaultTheme"
            android:name="com.sohu.cyan.android.sdk.activity.OAuthActivity"/>
        <!-- 评论中心 -->
        <activity
            android:theme="@style/DefaultTheme"
            android:name="com.sohu.cyan.android.sdk.activity.RepliesActivity"/>

        <activity
            android:label="集锦或录像"
            android:configChanges="orientation"
            android:name=".main.more.VideoActivity"
            android:theme="@style/DefaultTheme"/>
    </application>

</manifest>